extends layout

block content
  h1= title

  form(method='POST' action='')
    p Are you sure you want to delete #[strong #{category.name}]?
    button(class='ui negative button') Yes, I am sure. Please Delete Now!