extends layout

block content
  h1= title

  form(method='POST' action='')
    p Are you sure to delete #[strong #{iteminstance.name}]?
    button(class='ui negative button') Yes, I am sure. Please delete #{iteminstance.name} now!