extends layout

block content
  if errors
    h1 Error rendering form.
  else
    h1= title

    div(class='ui grid')
      div(class='twelve wide column')
        form(method='POST' action='')
          div(class='ui form')
            div(class='field')
              label(for="sectionName") Section Name
              input(type='text' name='sectionName' value=!(section == undefined)? section.name : '')
            if errorMessage
              p #{errorMessage.msg}
            else

            div(class='field')
              button(class='ui button') Submit